<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="//unpkg.com/vue"></script>
    <link rel="stylesheet" href="index.css">
    <title>Calculator</title>
</head>

<body>
    <button onclick="document.querySelector('.example').style.display='block'; setTimeout(function(){document.querySelector('.example').style.display='none';}, 5000)">показать пример того что должно было быть на 5 секунд</button>
    <div class="calculator">
        <div class="inputs">
            <input type="number" v-model="ab" name="123" id="ab">
            x
            <input type="number" v-model="ba" name="123" id="ba">
            <form>
            <input type="radio" name="v" v-model="vtype"  id="cm" value="см">
            <input type="radio" name="v" v-model="vtype"  id="mm" value="мм">
            </form>
        </div>
        <div class="addionalinputs">
            <input type="checkbox" name="" v-model="check1">
            <input type="checkbox" name="" v-model="check2">
            <input type="checkbox" name="" v-model="check3">
        </div>

    </div>
    <div class="example">

    </div>
</body>
<script src="index.js"></script>

</html>